.feedContainerWraper{
    margin: 10% auto 0 auto;
    width: 80%;
}
.feedContaner{
    display: grid;
    grid-template-columns: 2fr 1fr;

}
.createPostIconConainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
    margin: 0 0 0 1.3rem;
    border-radius: 7px;
}

.createPostIcon{
    padding-top: 10px;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.316);
}



.postNavLink{
    position: sticky;
    top: 5rem;

}
.suggestedFollower{
    position: sticky;
    top: 15rem;
    width:100%;
    min-height: 100px;

}


.profileImageContainer{
    width:50px;
    height:50px;
    text-align: center;
    margin-top:1rem;
    cursor: pointer;

}
.feedProfileImage{
    width:50px;
    height:50px;
    background-color: none;
    border-radius: 50%;
    margin: 1rem 0 0 0;
    cursor: pointer;

}

.defaultProfileLogo{
    font-size: 3rem;
    color: white;
    border-radius: 50%;
    background-color: none;
    width: 50px;
    height: 50px;
    margin-top: 0.5rem;

}

.feedPostProfileImgConatiner{
    display: grid;
    grid-template-columns:50px 4fr;
    column-gap:20px ;
}

.createIconAndImageContainer{
    display: grid;
    grid-template-columns:50px 4fr;
}




.feedUserProfileImage{
    width:50px;
    height:50px;
    text-align: center;
    margin-top:1rem;
    cursor: pointer;
}



.followBtnUserandPostNameContainer{
    background-color: white;
    border-radius:10px;
    background-color: white;
    margin: 1rem 0 0 0;
}

.followBtnAndUserNameContainer{
    display: flex;
}

.feedUseName{
    margin: 1rem 0 0 1rem;
}
