.loginSignupLinks{
    
    max-width: 20%;
    min-height:100px;
    margin:8rem auto auto auto;
    display: flex;
    flex-direction: column;
}


.loginLi,.signupLi{
    color: white;
    text-decoration: none;
    width: 100%;
    padding: 0.3rem 0 0.3rem 0;
    display: block;
}

.or{
    color: #ff66c4;
    text-align: center;
    font-weight: bold;
    margin-top: 32px;
}
.logandsign{
    display: flex;
    height: 50%;
    flex-direction: column;
    background-color: rgba(112, 109, 109, 0.231);
    border-radius: 5px;
    width: max-content;
    align-self: center;
    padding: 5%;
    padding-top: 2%;
}
.loginBtnWrapper,.signUpBtnWrapper{
    /* background-color: grey; */
    border: 1px solid white;
    margin: 2rem 0 0rem 0;
    text-align: center;
    padding: 1rem;
    width: 200px;
    align-self: center;

}

.loginBtnWrapper:hover{
    box-shadow: 0px 0px 3px 2px white;
}

.signUpBtnWrapper{
    margin-bottom: 32px;
}

.signUpBtnWrapper:hover{
    box-shadow: 0px 0px 3px 2px white;
}
#main{
    font-size: 60px;
}

.fa-earth-americas{
    color: white;
    font-size: 3rem;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}

.fa-earth-americas:hover{
    color: #ff66c4;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.siteDescription{
    color: white;
    text-align: center;
    font-weight: bold;
    /* background-color: beige; */
    align-self: center;
    width: 507px;
    font-size: 25px;
}

#last.siteDescription{
    margin-bottom: 35px;
}

#header.siteDescription{
    font-size: 90px;
    width:100%;
    padding: 10px;
    
    margin-bottom: 5%;
    color: #ff66c4;
}

.demoLoginInstu{
    color: #ff66c4;
    text-align: justify;
}

.homecontainer{
    margin-top: 2rem;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-content: center;
    width: 300%;
    max-height: min-content;
}

.logincontainer{
    width: max-content;
    height: max-content;
    background-color: rgba(112, 109, 109, 0.231);
    padding: 10%;
}


