.loginSignupLinks{
    background-color: white;
    max-width: 20%;
    min-height:100px;
    margin:10rem auto auto auto;
    display: flex;
    flex-direction: column;
}


.loginLi,.signupLi{

    text-decoration: none;
}
