.navUl{
    display: flex;
    justify-content: space-between;



}
.hummbleimg{
   width: 8rem;
   margin: 0 0 0 0;
   padding-left: 15px;
}
.logoandicon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.navContainer{
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1;
    background-color:black;
}
.navLi{
    color: white;
    text-decoration: none;
}

.logo{
    font-size: 2rem;
    margin: .5rem 0 0 0;

}

.logout{
    margin: 0 4rem 0rem 0
}
.signUp{
    margin: 0 4rem 0rem 0
}
