/* TODO Add site wide styles */
body{

    background: url("https://upload.wikimedia.org/wikipedia/commons/e/e4/StarfieldSimulation.gif") no-repeat center center fixed;
    background-size: cover;
    /* background-color: #36465d; */
    font-family: 'Roboto', sans-serif;
}
