.postOuterContainer{
    /* background: #f0efef; */
    background-color: white;
    border-radius:10px;
    margin: 1rem 0 0 0;
    /* padding: 1rem; */
}

.postUserName{
    padding: 1rem 0 0 1rem;
}
.postLink{
display: block;
}
.postTitle{
    margin:  2rem 0 0 1rem;
    overflow-wrap: anywhere;
}

.postLink,.postQuote{
    margin:  2rem 0 0 2rem;

}
.postImage{
    width:100%;
    margin-top:  2rem ;
}

.postOtherLinksContainer{
    display: flex;
    justify-content: space-between;
}

.deleteEditBtnContainer{
    display: flex;
    width: 20%;
    justify-content: space-between;
}


.quoteDesc{
    color: rgba(0, 0, 0, 0.456);
    margin:  2rem 2rem 0 2rem;

}

.titleStar{
    font-size:0.8rem;
}

.postDiscriptionContainer{
   min-width: 600px;
   text-align: justify;
   margin:  2rem 2rem 0 2rem;
   overflow-wrap: anywhere;

}
/* follow like icon container */
.followLikeNoteLinkCotainer{
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}
.followBtn{
    margin: 1.1rem 0 0 1.5rem;
    background-color: transparent;
    border:none;
    /* padding: 0.5rem 1rem 0.5rem 1rem; */
    color: #0275d8;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}
.followBtn:hover{
    text-decoration: underline;
}
.likeBtn{
    background-color: #c5d5c500;
    border:none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: white;
}
.likedIcon{
    color: red;
    font-size: 1.5rem;
}
.dislikeIcon{
    color:   black;
    font-size: 1.5rem;
}

.likeBtn:hover{
    background-color: rgba(128, 128, 128, 0.181);
    border-radius: 60%;
    cursor: pointer;
}

/* .notepenIcon{
    font-size: 1.5rem;
    padding: 1rem;
} */

/* .noteIcon{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    color:   #622569;

} */
/*
.notepenIcon:hover{
    background-color: rgba(128, 128, 128, 0.181);
    border-radius: 50%;
} */

.likeLogoCountContainer{
    display: flex;

    justify-content: space-between;
}

/*  */


.deletePenIcon{
    font-size: 1.2rem;
    padding: 1rem;
}

.deleteIconBtn{

    background-color: transparent;

    border: none;
    cursor: pointer;


}

.deleteIconBtn:hover{
    background-color: rgba(128, 128, 128, 0.181);
    border-radius: 50%;
}


.notesDiv{

    min-height: 200px;
    /* overflow-x: hidden;
    overflow-y: scroll; */
    /* background: #f0efef; */
    background-color: white;
}
.backcolor{
    padding: 0 1rem 0 1rem;
}
.likeContainer{
    margin-right: 3rem;
}

.likes{
    color: black;
    margin: 0.5rem 0 0 0;
}


.usernameandfollowbtn{
    display: flex;

}
