.userImage{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 3px 2px white;

}

.userImageContainer{
    /* margin: 0 0 3% 26%; */
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
    width: 100%;

}
.userName{
    color:white;
    margin: 3% 0 3% 0%;
}


.userPostContainerWraper{
    margin: 10% auto 0 auto;
    width: 75%;
   }

.postIconContainer{
        display: grid;
        grid-template-columns: 2fr 1fr;

}




.createUserPostIconConainer{
       display: grid;

       grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
       background-color: white;
       width: 100%;
       border-radius: 7px;

   }

/* .createUserPostIcon{
       padding: 10px;
       text-align: center;
       border-right: 1px solid rgba(0, 0, 0, 0.316);

   } */


.userPostIcon{
       font-size: 1.2rem;
       margin: 0 0.5rem 0 0rem;
       color: white;
       text-decoration: none;
   }
.userHr{
    background-color: rgba(0, 0, 0, 0.207);

}

.userProfileLogo{
    margin: auto 0;
    font-size: 4rem;
    color:white;

}

.addoncontainer{
    width: 66%;
    text-align: center;
     display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.noPostTxt{
   color: white;
}
