#signup {
    
    text-align: center;
    color: whitesmoke;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-top: 2%;
    width: 15%;
    align-self: center;
   
}




.signUpFormContainer{
    background-color: rgba(255, 255, 255, 0.014);
    max-width: 30%;
    min-height: 200px;
    margin: 13rem auto auto auto;
    margin-bottom: 10%;
    text-align: center;
    padding: 2rem;
    
    border-radius: 5px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    background-color: rgba(112, 109, 109, 0.231);
}

.signupInput{
    width: 70%;
    height: 2rem;
    padding: 0.6rem 0 0.6rem 0;
    font-size: 1rem;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.24);
    color: white;
    border: transparent;
    border-radius: 2px;
    margin-bottom: 2%;

}



.signupBtn{
    width: 35%;
    height: 20%;
    padding: 1rem 0rem 1rem 0;
    margin: 0.5rem 0 0.5rem 0;
    color: white;
    background-color: rgba(255, 255, 255, 0.014);
    border: 1px solid white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 2px;
}


.signupBtn:hover{
    box-shadow: 0px 0px 3px 2px white;
}
