#commentInput {
    border: none;
    height: 25px;
    width: 450px;
    margin-top: -10px;

}
.createcommentDiv {
    border:  solid black;
    border-radius: 20px;
    width: 550px;
    height: 50px;
    padding: 10px 5px 15px 5px;
    margin-top: 1rem;
    margin-left: 150px; 
    
   
      
}

.button {
    border: none;
    font-family: sans-serif;
    text-decoration: underline;
    color: #915a91;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin-left: 25px;
    background-color: white;
    
    
}

.button:hover{
    background-color: rgba(45, 44, 61, 0.586);
    border-radius: 5px;
}