#commentInput {
    border: none;
    height: 25px;
    width: 450px;
    color: rgba(45, 44, 61, 0.586);
    background-color: #f0efef;
    margin-left: 30px;
    resize: none;

    

}

.errors{
    color: rgba(45, 44, 61, 0.586);
}

.createcommentDiv {
    border: 2px solid #62256950;
    border-radius: 20px;
    width: 600px;
    height: 50px;
    padding-top: 10px;
    margin-top: 0.5rem;
    margin-bottom: 10px; 
}




.imagecomment{
    display: flex;
    flex-direction: row;
    padding: 10px 5px 15px 5px;
}

.default{
    font-size: 3rem;
    color: rgb(141, 47, 184);
    border-radius: 50%;
    background-color: none;
    width: 60px;
    height: 60px;
    margin-top: 0.5rem;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 10px;

}

.CreateImage{
    font-size: 3rem;
    border-radius: 50%;
    background-color: none;
    width: 60px;
    height: 60px;
    margin-top: 0.5rem;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid rgb(52, 51, 64);
}

.button {
    border: none;
    font-family: sans-serif;
    color:  #622569f0;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin-left: 35px;
    background-color:  transparent;
    cursor: pointer;


}

.button:hover{

    color: #915a91;  
}

