.commentcontainer{
   width: 100%;


}
.profileImageAndDescriptionContainer{
    display: flex;
}
.deleteEditBtn{
    display: flex;

    justify-content: center;
    align-items: center;

}
.notesDelete{
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
}

.note {
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
}



.Notes{
    display: flex;
     justify-content: space-between;



}
.description {

    padding: 20px;
    margin: 0 0.5rem 0 0.5rem;

    border-radius: 5px;

    overflow-wrap: anywhere;
}



.ProfileImage{

    border-radius: 50%;

    width: 40px;
    height:40px;
    margin: 1rem 0 0 1rem;

}



.img{
    font-size: 3rem;
    color: rgba(52, 51, 64, 0.521);
    border-radius: 50%;
    background-color: none;
    width: 50px;
    height: 50px;
    margin-top: 0.5rem;
    margin-left: 20px;
    margin-right: 10px;
    padding: 5px;


}
h1 {
    color: white;
}

.editmodal {
    position: absolute;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    background-color: white;
}
