

.CreateFormContainer{
    min-width:400px;
    min-height: 200px;
    text-align: center;
    margin-top: 1rem;
}
.createTextTypeTitalInput{
    margin: 2rem 0 0 0.5rem;
    width: 90%;
    border: none;
}


.CreateTextDescriptionInput{
    width: 90%;
    border: none;
    margin: 2rem 0 0 1.5rem;
    height:auto;
    resize: none;


}

.createTextTypeTitalInput {
    display: block;
    width: 400px;
    padding: 0 20px;
}

.createTextTypeTitalInput,
.createTextTypeTitalInput::placeholder {

    font-size: 1.5rem ;

}

.CreateTextDescriptionInput,
.CreateTextDescriptionInput::placeholder {
    font-size: 1rem ;

}


textarea:focus, input:focus{
    outline: none;
}

.submitPostBtn{
    margin:1rem 0 1rem 0;
    background-color: black;
    color: white;
    padding:0.3rem 0.5rem 0.3rem 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}

.error{
    margin:1rem 0 1rem 1.5rem;
    width:200px;
    color: red;
    text-align: left;
}

.closeAndPostBtnContainer{
    display: flex;
    justify-content: space-around;
}
