.createPosttBtn{
    border: none;
    background-color: white;
    margin: auto;
    cursor: pointer;
}

.textIcon{
    /* color: red; */
    font-size: 2rem;
}
.cameraIcon{
 color: red;
 font-size: 2rem;
}

.linkIcon{
    color: green;
    font-size: 2rem;
}

.quoteIcon{
    color: orange;
    font-size: 2rem;
}
.chatIcon{
    color: rgb(37, 164, 214);
    font-size: 2rem;
}
.textIcon:hover{
    transform: translateY(-0.2rem);
}


.cameraIcon:hover{
    transform: translateY(-0.2rem);
}

.linkIcon:hover{
    transform: translateY(-0.2rem);
}


.quoteIcon:hover{
    transform: translateY(-0.2rem);


}
.chatIcon:hover{
    transform: translateY(-0.2rem);
}
